<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ECharts - Line and Heatmap Synchronization</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <style>
        #container {
            height: 600px;
            width: 100%;
        }

        #lineChart,
        #heatmapChart {
            height: 50%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="container">
        <div id="lineChart"></div>
        <div id="heatmapChart"></div>
    </div>
    <script type="text/javascript">
        var lineData = {{ line_data }}; // Replace {{line_data}} with your line data array
        var heatmapData = {{ heatmap_data }}; // Replace {{heatmap_data}} with your heatmap data array

        // Line Chart
        var lineChart = echarts.init(document.getElementById('lineChart'));
        var lineOption = {
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                type: 'time'
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: lineData,
                type: 'line',
                areaStyle: {}
            }],
            dataZoom: [{
                type: 'slider',
                xAxisIndex: 0,
                start: 0,
                end: 100
            }]
        };
        lineChart.setOption(lineOption);

        // Heatmap Chart
        var heatmapChart = echarts.init(document.getElementById('heatmapChart'));
        var heatmapOption = {
            tooltip: {
                position: 'top'
            },
            animation: false,
            grid: {
                height: '50%',
                y: '10%'
            },
            xAxis: {
                type: 'category',
                data: Array.from(new Array(365), (val, index) => index + 1),
                splitArea: {
                    show: true
                }
            },
            yAxis: {
                type: 'category',
                data: Array.from(new Array(24), (val, index) => index),
                splitArea: {
                    show: true
                }
            },
            visualMap: {
                min: 0,
                max: 100,
                calculable: true,
                orient: 'horizontal',
                left: 'center',
                bottom: '15%'
            },
            series: [{
                name: 'Heatmap',
                type: 'heatmap',
                data: heatmapData,
                label: {
                    show: false
                },
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }],
            dataZoom: [{
                type: 'slider',
                xAxisIndex: 0,
                start: 0,
                end: 100
            }]
        };
        heatmapChart.setOption(heatmapOption);

        // Synchronize dataZoom for both charts
        lineChart.on('dataZoom', function (params) {
            heatmapChart.dispatchAction({
                type: 'dataZoom',
                start: params.batch[0].start,
                end: params.batch[0].end
            });
        });

        heatmapChart.on('dataZoom', function (params) {
            lineChart.dispatchAction({
                type: 'dataZoom',
                start: params.batch[0].start,
                end: params.batch[0].end
            });
        });
    </script>
</body>

</html>